body {
    padding: 0;
    margin: 0;
}
html, body, #mapid {
    height: 100%;
    width: 100vw;
}

.animated-icon{
  width: 20px;
  height: 20px;
  background-color: rgba(255,0,255,0.5);
  border-radius: 50%;
  box-shadow: 0px 0px 4px white;
  transition: all 1s 
}


.form-control{
    min-width: 50%;
}


.list-group{
    max-height: 100%;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
